*{
    padding: 0;
    margin:0;
}

html,body{
    position: relative;
    background: linear-gradient(90deg, rgb(76, 100, 136),rgb(32, 91, 179));
    color:white;
    min-height: 100%;
    height:100%;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}