.loginNavigationText{
        text-decoration: none;
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        font-weight: 500;
        letter-spacing: 0.005px;
        color: #000;
}
.forgotPasswordSubHeaderContainer{
        background: rgba(33, 77, 143, 0.2);
        width:50%;
}

.forgotPasswordText{
        text-decoration: none;
        font-family:  SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        font-weight: 500;
        letter-spacing: 0.005px;
        color: #f0f0f0;
}

.forgotPasswordFormText{
    text-decoration: none;
    font: 18px SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.005px;
    color: #f0f0f0;
}

@media screen and (max-width:700px) {
        .forgotPasswordHeader{
                margin:0.5rem !important;
                padding: 0.5rem !important;
        }
        .forgotPasswordText{
                margin-right: 0.5rem !important;
                margin-left: 0.5rem !important;
        }
        .forgotPasswordSubHeaderContainer{
                width:80%;
        }
        .navNameContainer, .loginbuttondirectcontainer{
                width:50% !important;
        }
}