.welcomeHeaderText{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.07em;
    text-shadow: 1px 1px #cccbcb;
    text-decoration: underline;
    line-height: 1.5;
}

.dataReturned{
    background: linear-gradient(90deg, rgb(238, 238, 238), rgba(238, 237, 237, 1))
}

.dataRetunedHeader{
    font-size:20x;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.07em;
    line-height: 1;
    color: rgba(0, 0, 0, 1);
}

.data_row{
    width:100%;
    margin: auto;
    padding: 1rem;
}

.data_record_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.0003em;
    padding:1rem;
    border: 1px solid rgba(0, 0, 0, 1);
}

@media screen and (max-width: 800px) {
    .dataReturned{
        width: 90% !important;
    }
    .buttonContainer,.buttonMainContainer{
        width:100% !important;
    }
}

@media screen and (max-width: 600px) {
        .dataSection{
            height:auto;
        }
}