.welcomeHeaderText{
    font:30px / 1.0005 SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    letter-spacing: 0.007em;
    text-decoration: underline;
}

.dataRetunedHeader, .no_data{
    font: 24px/2 SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    letter-spacing: 0.07em;
    color: rgb(250, 250, 250);
    margin: 40px 0;
}
/*  Data Row Styling  */
.data_row{
    width:100%;
    margin: auto;
    padding: 1rem;
}

/* Sets the background of the Data Columns */
.data_record_header{
    background:rgb(184, 184, 184) !important;
}
/* Sets The text for the data table */
.data_record_text {
    font: 15px / 1.0005 SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.0003em;
}


/* Added Media query to handle some further enhancements */
@media screen and (max-width: 800px) {
    .dataReturned{
        width: 90% !important;
    }
    .buttonContainer,.buttonMainContainer{
        width:100% !important;
    }
}

@media screen and (max-width: 600px) {
        .dataSection{
            height:auto;
        }
}

@media screen and (max-width: 600px) {
    .form-control {
        width:100% !important;
    }
}