.welcomeHeaderText{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.007em;
    text-shadow: 1px 1px #f1f1f1;
}

.dataReturned{
    background: rgba(72, 71, 71, 0.75);
}

.data_row{
    width:100%;
    margin: auto;
    padding: 1rem;
}

.data_record_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:#f1f1f1;
    letter-spacing: 0.0003em;
    padding:1rem;
    border: 1px solid #f1f1f1;
}

@media screen and (max-width: 800px) {
    .dataReturned{
        width: 90% !important;
    }
    .buttonContainer,.buttonMainContainer{
        width:100% !important;
    }
}