.loginContainer{
    height: calc(100vh - (60px + 60px)) !important;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainerForm{
    background: rgba(33, 77, 143, 0.2);
    border-radius: 1rem;
    margin: auto;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.input-group span{
    width:40% !important;
}

.formText{
    font: 15px/2 SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: -0.995px;
}

.registerRedirectButton,.loginButton,.backToLogInButton, .registerButton{
    text-decoration: none;
    font: 15px/1.5 SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.005px;
    color:black;
}

.forgotPasswordButton{
    text-decoration: none;
    font: 15px/1.5 SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.005px;
    color: #f0f0f0;
    text-decoration: underline;
    text-underline-position: under;
}

.forgotPasswordButton:hover{
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .input-group-text{
        width: 45% !important;
    }
}

@media screen and (max-width: 450px){
    .input-group span{
        width:45% !important;
    }
    .form-control{
        width:40% !important;
    }
}