/* Main Register Section */
.registerContainer{
    height: calc(100vh - (60px + 60px)) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerContainerForm{
    background: rgba(33, 77, 143, 0.2);
    border-radius: 1rem;
    padding:3rem;
    margin: auto;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
/* Input Label  */
.input-group span{
    width:40% !important;
}

@media screen and (max-width: 450px) {
    .input-group span {
        width: 45% !important;
    }

    .form-control {
        width: 40% !important;
    }
}