<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='default.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='nav.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
</head>

<body>
    <!-- Navigation Section -->
    <nav class="d-flex justify-content-between align-items-center p-1">
        <div class="navNameContainer p-3 align-items-center d-flex">
            <h1 class="navName fs-5">
                Worldline
            </h1>
        </div>
        <!-- Logout button only present when logged in Section -->
        <div class="logoutContainer p-3">
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#logoutModal">
            Log Out
        </button>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == "error" %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Log Out Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-black" id="logoutModalLabel">Please Confirm Log Out</h5>
            <button type="button" class="btn-close text-black" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="text-black">Are you sure you want to log out?</p>
            </div>
            <div class="modal-footer">
            <a type="button" class="btn btn-dark text-white" data-bs-dismiss="modal">Close</a>
            <!-- Confirms Log Out after clicking modal -->
            <a type="button" href="{{url_for('redirect_to_index')}}" class="btn btn-dark text-white">Confirm Log Out</a>
        </div>
        </div>
        </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="deleteModalLabel">Confirm Deletion</h5>
                    <button type="button" class="btn-close text-black" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-black">Are you sure you want to delete this row?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark text-white" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark text-white" form="deleteForm" name="action" value="confirmDelete" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <Section class="dataSection d-flex flex-column container-fluid">
        <div class="my-4 p-2">
            <h1 class="text-center welcomeHeaderText">Worldline Note System</h1>
        </div>
    <div class="dataReturned container-fluid p-1 p-md-2">
        <h2 class="dataRetunedHeader text-center my-2">Incidents Recorded: </h2>
    <!-- if returned_data is greater than 0, continue to execute this code -->
    {% if returned_data %}
    <div class="table-container">
            <!-- Generates Table for the Data -->
        <table class="table">
            <thead>
                <tr class="row">
                    <th class="data_record_header text-break col-2" scope="col">Location</th>
                    <th class="data_record_header col-2" scope="col">Comment</th>
                    <th class="data_record_header col-2" scope="col">Job Role</th>
                    <th class="data_record_header col-2" scope="col">Company</th>
                    {% for user in returned_user%}
                    {% if user and user.admin_privilege == 'yes' %}
                    <th class="data_record_header col-2 text-center" scope="col">Delete Row</th>
                    {% endif %}
                    {% endfor %}
                    <th class="data_record_header col-2 text-center" scope="col">Confirm Update</th>

                </tr>
            </thead>
            <tbody>
                <!-- For each record the table row with table columns will be created -->
                {% for data_record in returned_data %}
                <tr class="row">
                    <td class="data_record_text col-2 d-flex justify-content-start align-items-center" id="location" name="location" value="{{ data_record.location }}">{{ data_record.Location }}</td>
                    <td class="data_record_text col-2 d-flex justify-content-start align-items-center">
                        <input class="border-0 p-2 editRecord w-75" id="comment" name="comment" value="{{ data_record.comment }}" onchange="updateHiddenInput('comment', this.value)"></input>
                    </td>
                    <td class="data_record_text col-2 d-flex justify-content-center align-items-center">
                        <input class="border-0 p-2 editRecord w-75" id="JobRole" name="JobRole" value="{{ data_record.jobrole }}" onchange="updateHiddenInput('JobRole', this.value)"></input>
                    </td>
                    <td class="data_record_text col-2 d-flex justify-content-center align-items-center">
                        <input class="border-0 p-2 editRecord w-75" id="company" name="company" value="{{ data_record.company }}" onchange="updateHiddenInput('company', this.value)"></input>
                    </td>
                    {% for user in returned_user%}
                    {% if user and user.admin_privilege == 'yes' %}
                    <td class="data_record_text col-2 d-flex justify-content-center align-items-center">
                        <form action="/delete_row_attempt" method="POST" class="delete_form">
                            <input type="hidden" name="location" value="{{data_record.Location}}">
                            <button class="btn btn-danger delete_btn" type="submit">Delete row</button>
                        </form>
                    </td>
                    {% endif %}
                    {% endfor %}
                    <td class="data_record_text col-2 d-flex justify-content-center align-items-center">
                    <form action="/update_row" method="POST" class="update_form">
                        <input type="hidden" id="hidden_location" name="location">
                        <input type="hidden" id="hidden_comment" name="comment">
                        <input type="hidden" id="hidden_JobRole" name="JobRole">
                        <input type="hidden" id="hidden_company" name="company">
                        <button class="btn btn-success success_btn" type="submit">Submit</button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <!-- Creates Div if data is null -->
        {% else %}
        <div class="no_data text-center mt-3">
            <p class="data_record_text my-3">No Data Avaliable, Try again Later</p>
        </div>
        {% endif %}
        </div>
        <!-- Section for buttons to show / delete update data -->
        <div class="buttonMainContainer d-flex flex-column flex-md-row flex-lg-row flex-xl-row p-2 align-items-center justify-content-evenly m-auto w-75">
            <!-- If not admin user you will be only be able to update / create ( Read only covered via Data rendered to page -->
            <div class=" d-flex flex-row w-100 w-md-50 w-lg-50 w-xl-50 buttonContainer">
                <form action="/insert_row_attempt" method="POST" class="d-flex flex-column m-3 w-100">
                <input type="text" class="form-control mt-2" Placeholder="Enter Location (min 4 char)" name='nameInsert' id="nameInsert"></input>
                <input type="text" class="form-control mt-2" Placeholder="Enter Comment" name='commentInsert' id="commentInsert"></input>
                <input type="text" class="form-control mt-2" Placeholder="Enter Job Role" name='jobRole' id="jobRole"></input>
                <input type="text" class="form-control mt-2" Placeholder="Enter Company" name='companyInsert' id="companyInsert"></input>
                <button class="btn btn-light my-2">Create Row</button>
                </form>
            </div>
        </div>
    </Section>
    <!-- Footer -->
    <footer>
        <div class="copyrightContainer d-flex align-items-center justify-content-start p-3">
            <span class="mx-1">&copy;</span>
            <h1 class="footerText fs-5">Tom Senior</h1>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='Javascript/home.js') }}"></script>

</body>
</html>